@use '../../../public/style/variables.scss' as v;

.header-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 1rem;
  align-items: center;
}

.title-container {
  display: flex;
  width: 20%;
  justify-self: left;
}

.title-text {
  color: v.$main-text-darker-bg-color;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-around;
  align-self: center;
  margin: auto;
}
